<!DOCTYPE html>
<html>
<head>
  <title>Rent Plot page</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
  *{
    margin: 0%;
    padding: 0%;
  }
.container {
  background-color: rgb(255, 248, 248);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(8, 246, 206, 0.5);
    width: 300px;
    margin: 20px;
}
.card img {
  box-shadow:0 0 30px rgba(0, 0, 0, 0.5);
  border: #000000;
  width: 100%;
  height: 200px;
  border-radius: 14px;
  object-fit: cover;
}
.card:hover{
  color: white;
  background-color: #7c9ee8;
}
.card-content :hover{
  color: white;
}
.card-content {
  padding: 15px;
}
.card-content h2{
  font-size: 20px;
  color: #333;
}
.card-content p{
  font-size: 16px;
  color: #777;
}
.nav{
  background: #000;
  border-bottom: 2px solid yellow;
  width: 100%;
  height: 40px;
  color: white;
  font-family: poppins;
  display: flex;
  padding: 20px;
}
.nav h3{
  margin-left: 300px;
}
</style>
</head>
<body>
  <div class="nav">
    <h2>RealE$tate Listing Management</h2>
    <h3>Buying Plots</h3>
  </div>
<div class="container">
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="/img r1.jpg" alt="Property 1">
    <div class="card-content">
      <h2>Property 1</h2>
      <p>5 BHK Apartment</p>
      <p>$1200,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="/img r13 (1).jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 2</h2>
      <p class="details">3 BHK Apartment</p>
      <p class="details">$500,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="/img r14.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 3</h2>
      <p class="details">4 BHK Apartment</p>
      <p class="details">$1500,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img r15.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 4</h2>
      <p class="details">3 BHK Apartment</p>
      <p class="details">$800,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="image1.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 5</h2>
      <p class="details">7 BHK Apartment</p>
      <p class="details">$1800,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="/img r17 (1).jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 6</h2>
      <p class="details">5 BHK Apartment</p>
      <p class="details">$1600,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="image2.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 7</h2>
      <p class="details">8 BHK Apartment</p>
      <p class="details">$2000,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img19.avif" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 8</h2>
      <p class="details">6 BHK Apartment</p>
      <p class="details">$1100,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img20.avif" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 9</h2>
      <p class="details">3 BHK Apartment</p>
      <p class="details">$700,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="image3.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 10</h2>
      <p class="details">4 BHK Apartment</p>
      <p class="details">$500,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="/images4.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 11</h2>
      <p class="details">2 BHK Apartment</p>
      <p class="details">$500,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img10 (1).jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 12</h2>
      <p class="details">4 BHK Apartment</p>
      <p class="details">$900,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img14.avif" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 13</h2>
      <p class="details">3 BHK Apartment</p>
      <p class="details">$800,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img r15.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 14</h2>
      <p class="details">5 BHK Apartment</p>
      <p class="details">$1300,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="imgr12.jpeg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 15</h2>
      <p class="details">6 BHK Apartment</p>
      <p class="details">$1700,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img3.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 16</h2>
      <p class="details">4 BHK Apartment</p>
      <p class="details">$1500,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img18.avif" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 17</h2>
      <p class="details">7 BHK Apartment</p>
      <p class="details">$2000,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img19.avif" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 18</h2>
      <p class="details">6 BHK Apartment</p>
      <p class="details">$900,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img r14.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 19</h2>
      <p class="details">2 BHK Apartment</p>
      <p class="details">$600,000</p>
    </div>
  </div>
  <div class="card" onclick="window.location.href='blur.html'">
    <img src="img1.jpg" alt="Property 1">
    <div class="card-content">
      <h2 class="title">Property 20</h2>
      <p class="details">5 BHK Apartment</p>
      <p class="details">$800,000</p>
    </div>
  </div>
</div>

</body>
</html>